@page
@model FilmesCRUDRazor.Pages.Filmes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Filme</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Filme.Titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Filme.Titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Filme.DataLancamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Filme.DataLancamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Filme.Genero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Filme.Genero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Filme.Preco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Filme.Preco)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Filme.FilmeId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
